.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 147px;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 30px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo-name {
  animation-name: main;
  animation-duration: 2s;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
  animation-name: main;
  animation-duration: 1s;

}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  animation-name: main;
  animation-duration: 2s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
  animation-name: main;
  animation-duration: 1s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item::after {
  position: absolute;
  right: 0;
  bottom: 1px;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  display: flex;
  margin-right: 0;
}

.main {
  padding: 68px 53% 100% 0;
  background: top right no-repeat url(img/frame.svg);
  animation-name: main;
  animation-duration: 2.5s;

}

.main__title-text_highlight {
  background: #ecf3ff;
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main__title {
  margin: 0 0 40px 0;
  font: 700 66px/87px pt_serifbold, arial, helvetica, serif;
  animation-name: main;
  animation-duration: 1s;
}

.main__subtitle {
  margin: 0 0 41px 0;
  width: 60%;
  font: 400 22px/26px Roboto, arial, helvetica, serif;
  animation-name: main;
  animation-duration: 1.5s;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px 'Roboto', arial, helvetica, serif;
  color: #fff;
  padding: 18px 21px;
  text-decoration: none;
  border-radius: 4px;
  outline: none;
  background-image: linear-gradient(45deg, #4d84e3 0%, #0056ec 50%, #2180bf 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
  animation-name: main;
  animation-duration: 2s;
}

.main__button:hover {
  box-shadow: 0 0 032px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.menu__box {
  display: none;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 21px;
  }

  .wrapper {
    margin: auto;
    width: 90%;
  }

  .menu {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 74% 0 0;
    background: no-repeat url(img/img-mob.svg);
    background-position: top center;
  }

  .main__title {
    margin-top: 20px;
    margin-bottom: 30px;
    font: 700 30px/40px pt_serifbold, arial, helvetica, serif;
  }

  .main__subtitle {
    width: 75%;
    margin-bottom: 22px;
    font: 500 16px/19px Roboto, arial, helvetica, serif;
  }

  .main__button {
    font: 500 13px/16px Roboto, arial, helvetica, serif;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0056ec;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition: left 0.5s;
  }

  .menu__item {
    text-align: center;
    padding: 24px 0 0;
    color: #000;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 20%;
  }

  .menu__item:hover {
    padding-top: auto;
    background-color: #fff;
    opacity: 0.5;
  }

  .menu__item::after {
    position: absolute;
    padding-top: 0;
    right: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056ec;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
  }

  .menu__item:hover::after,
  .menu__item_active::after {
    opacity: 1;
    width: 100%;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    background-color: transparent;
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    margin-bottom: 93px;
  }

  .wrapper {
    margin: auto;
    width: 92%;
  }

  .menu {
    padding-top: 10px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, serif;
  }

  .main {
    width: 92%;
    padding: 20px 8% 100% 0;
    background: no-repeat top right url(img/frame1024.svg);
  }

  .main__title {
    margin-right: 30%;
    margin-bottom: 40px;
    font: 700 50px/66px pt_serifbold, arial, helvetica, serif;
  }

  .main__subtitle {
    width: 367px;
    margin-bottom: 41px;
    font: 500 18px/21px Roboto, arial, helvetica, serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, serif;
    padding: 14px 16px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .header {
    margin-bottom: 100px;
  }

  .wrapper {
    margin: auto;
    width: 69%;
  }

  .menu {
    padding-top: 10px;
    margin-right: 7px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, serif;
  }

  .main {
    width: 90%;
    padding: 10px 10% 100% 0;
    background: no-repeat top right url(img/frame1024.svg);
  }

  .main__title {
    margin-right: 30%;
    margin-bottom: 40px;
    font: 700 50px/66px pt_serifbold, arial, helvetica, serif;
  }

  .main__subtitle {
    width: 367px;
    margin-bottom: 41px;
    font: 500 18px/21px Roboto, arial, helvetica, serif;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, serif;
    padding: 14px 16px;
  }
}
